<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
            {% for header in smart_list.columns %}
                {{ header.render}}
            {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for item in smart_list.items %}
        <tr>
            {% for field in item.fields %}
                {% if forloop.first %}
                    {{ field.render_link }}
                {% else %}
                    {{ field.render }}
                {% endif %}
            {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>
{% include 'smart_lists/pagination.html' %}
